# Deep Inspection
In this phase, we analyze the two tables in more detail to eliminate some inconsistent data

In [1]:
import pandas as pd
import utils

There is an inconsistency between the team's total points for a year and the sum of the individual players' points for that team in that year. We decided to consider the sum of the player stats for each team for every year

In [2]:
def update_team_data(df_teams_path, df_players, player_stat_column, team_stat_column, output_path):
    df_teams = pd.read_csv(df_teams_path)

    # sum for each 
    sum_stats = df_players.groupby(['tmID', 'year'])[player_stat_column].sum().reset_index()
    sum_stats.rename(columns={player_stat_column: f'sum_{player_stat_column}Player'}, inplace=True)
    df_compare = pd.merge(df_teams, sum_stats, on=['tmID', 'year'], how='left')

    # mismatch and update values
    df_compare[f'diff_{player_stat_column}'] = df_compare[team_stat_column] - df_compare[
        f'sum_{player_stat_column}Player']
    mismatches = df_compare[df_compare[f'diff_{player_stat_column}'] != 0]

    # print different values
    if not mismatches.empty:
        print(f"Mismatches found for {team_stat_column}:")
        print(mismatches[
                  ['tmID', 'year', team_stat_column, f'sum_{player_stat_column}Player', f'diff_{player_stat_column}']])
    df_compare.loc[df_compare[f'diff_{player_stat_column}'] != 0, team_stat_column] = df_compare[
        f'sum_{player_stat_column}Player']
    # remove temporary colums + save
    df_teams_updated = df_compare.drop(columns=[f'sum_{player_stat_column}Player', f'diff_{player_stat_column}'])
    df_teams_updated.to_csv(output_path, index=False)


df_players = pd.read_csv('../newData/players_teams_cleaned.csv')

stat_mappings = [
    ('fgMade', 'o_fgm'), ('ftMade', 'o_ftm'), ('threeMade', 'o_3pm'),
    ('fgAttempted', 'o_fga'), ('ftAttempted', 'o_fta'), ('threeAttempted', 'o_3pa'),
    ('oRebounds', 'o_oreb'), ('dRebounds', 'o_dreb'), ('rebounds', 'o_reb'),
    ('assists', 'o_asts'), ('steals', 'o_stl'), ('turnovers', 'o_to'), ('blocks', 'o_blk')
]

# update EAST e WEST
for side in ['EA', 'WE']:
    for player_stat, team_stat in stat_mappings:
        update_team_data(f'../newData/teams_{side}_cleaned.csv', df_players, player_stat, team_stat,
                         f'../newData/teams_{side}_cleaned.csv')

columns_to_remove = [
    'fgMade', 'ftMade', 'threeMade', 'fgAttempted', 'ftAttempted', 'threeAttempted',
    'oRebounds', 'dRebounds', 'rebounds', 'assists', 'steals', 'turnovers', 'blocks'
]

for path in ['../newData/teams_EA_cleaned.csv', '../newData/teams_WE_cleaned.csv']:
    df_teams_final = pd.read_csv(path)
    df_teams_final = df_teams_final.drop(columns=columns_to_remove, errors='ignore')
    df_teams_final.to_csv(path, index=False)

Mismatches found for o_fgm:
    tmID  year  o_fgm  sum_fgMadePlayer  diff_fgMade
0    ATL     9    895               818           77
1    ATL     9    895               818           77
2    ATL     9    895               818           77
3    ATL     9    895               818           77
4    ATL     9    895               818           77
..   ...   ...    ...               ...          ...
448  DET     8    972               903           69
449  DET     8    972               903           69
450  DET     8    972               903           69
451  DET     8    972               903           69
452  DET     8    972               903           69

[77 rows x 5 columns]
Mismatches found for o_ftm:
    tmID  year  o_ftm  sum_ftMadePlayer  diff_ftMade
0    ATL     9    542               476           66
1    ATL     9    542               476           66
2    ATL     9    542               476           66
3    ATL     9    542               476           66
4    ATL     9    542               476           66
..   ...   ...    ...               ...          ...
448  DET     8    595               556           39
449  DET     8    595               556           39
450  DET     8    595               556           39
451  DET     8    595               556           39
452  DET     8    595               556           39

[77 rows x 5 columns]
Mismatches found for o_3pm:
   tmID  year  o_3pm  sum_threeMadePlayer  diff_threeMade
52  CHA     3    211                  207               4
53  CHA     3    211                  207               4
54  CHA     3    211                  207               4
55  CHA     3    211                  207               4
56  CHA     3    211                  207               4
57  CHA     3    211                  207               4
58  CHA     3    211                  207               4
59  CHA     3    211                  207               4
60  CHA     3    211                  207               4
61  CHA     3    211                  207               4
62  CHA     3    211                  207               4
63  CHA     3    211                  207               4
64  CHA     3    211                  207               4
Mismatches found for o_fga:
    tmID  year  o_fga  sum_fgAttemptedPlayer  diff_fgAttempted
0    ATL     9   2258                   2114               144
1    ATL     9   2258                   2114               144
2    ATL     9   2258                   2114               144
3    ATL     9   2258                   2114               144
4    ATL     9   2258                   2114               144
..   ...   ...    ...                    ...               ...
448  DET     8   2261                   2130               131
449  DET     8   2261                   2130               131
450  DET     8   2261                   2130               131
451  DET     8   2261                   2130               131
452  DET     8   2261                   2130               131

[77 rows x 5 columns]
Mismatches found for o_fta:
    tmID  year  o_fta  sum_ftAttemptedPlayer  diff_ftAttempted
0    ATL     9    725                    637                88
1    ATL     9    725                    637                88
2    ATL     9    725                    637                88
3    ATL     9    725                    637                88
4    ATL     9    725                    637                88
..   ...   ...    ...                    ...               ...
448  DET     8    785                    732                53
449  DET     8    785                    732                53
450  DET     8    785                    732                53
451  DET     8    785                    732                53
452  DET     8    785                    732                53

[77 rows x 5 columns]
Mismatches found for o_3pa:
    tmID  year  o_3pa  sum_threeAttemptedPlayer  diff_threeAttempted
52   CHA     3    527                       516                   11
53   CHA     3    527                       516                   11
54   CHA     3    527                       516                   11
55   CHA     3    527                       516                   11
56   CHA     3    527                       516                   11
57   CHA     3    527                       516                   11
58   CHA     3    527                       516                   11
59   CHA     3    527                       516                   11
60   CHA     3    527                       516                   11
61   CHA     3    527                       516                   11
62   CHA     3    527                       516                   11
63   CHA     3    527                       516                   11
64   CHA     3    527                       516                   11
176  CHI    10    471                       469                    2
177  CHI    10    471                       469                    2
178  CHI    10    471                       469                    2
179  CHI    10    471                       469                    2
180  CHI    10    471                       469                    2
181  CHI    10    471                       469                    2
182  CHI    10    471                       469                    2
183  CHI    10    471                       469                    2
184  CHI    10    471                       469                    2
185  CHI    10    471                       469                    2
186  CHI    10    471                       469                    2
187  CHI    10    471                       469                    2
301  CON     9    669                       667                    2
302  CON     9    669                       667                    2
303  CON     9    669                       667                    2
304  CON     9    669                       667                    2
305  CON     9    669                       667                    2
306  CON     9    669                       667                    2
307  CON     9    669                       667                    2
308  CON     9    669                       667                    2
309  CON     9    669                       667                    2
310  CON     9    669                       667                    2
311  CON     9    669                       667                    2
312  CON     9    669                       667                    2
313  CON     9    669                       667                    2
Mismatches found for o_oreb:
    tmID  year  o_oreb  sum_oReboundsPlayer  diff_oRebounds
0    ATL     9     340                  297              43
1    ATL     9     340                  297              43
2    ATL     9     340                  297              43
3    ATL     9     340                  297              43
4    ATL     9     340                  297              43
..   ...   ...     ...                  ...             ...
448  DET     8     380                  325              55
449  DET     8     380                  325              55
450  DET     8     380                  325              55
451  DET     8     380                  325              55
452  DET     8     380                  325              55

[77 rows x 5 columns]
Mismatches found for o_dreb:
    tmID  year  o_dreb  sum_dReboundsPlayer  diff_dRebounds
0    ATL     9     737                  650              87
1    ATL     9     737                  650              87
2    ATL     9     737                  650              87
3    ATL     9     737                  650              87
4    ATL     9     737                  650              87
..   ...   ...     ...                  ...             ...
448  DET     8     931                  820             111
449  DET     8     931                  820             111
450  DET     8     931                  820             111
451  DET     8     931                  820             111
452  DET     8     931                  820             111

[77 rows x 5 columns]
Mismatches found for o_reb:
    tmID  year  o_reb  sum_reboundsPlayer  diff_rebounds
0    ATL     9   1077                 947            130
1    ATL     9   1077                 947            130
2    ATL     9   1077                 947            130
3    ATL     9   1077                 947            130
4    ATL     9   1077                 947            130
..   ...   ...    ...                 ...            ...
448  DET     8   1311                1145            166
449  DET     8   1311                1145            166
450  DET     8   1311                1145            166
451  DET     8   1311                1145            166
452  DET     8   1311                1145            166

[77 rows x 5 columns]
Mismatches found for o_asts:
    tmID  year  o_asts  sum_assistsPlayer  diff_assists
0    ATL     9     492                482            10
1    ATL     9     492                482            10
2    ATL     9     492                482            10
3    ATL     9     492                482            10
4    ATL     9     492                482            10
..   ...   ...     ...                ...           ...
448  DET     8     563                556             7
449  DET     8     563                556             7
450  DET     8     563                556             7
451  DET     8     563                556             7
452  DET     8     563                556             7

[77 rows x 5 columns]
Mismatches found for o_stl:
    tmID  year  o_stl  sum_stealsPlayer  diff_steals
0    ATL     9    285               282            3
1    ATL     9    285               282            3
2    ATL     9    285               282            3
3    ATL     9    285               282            3
4    ATL     9    285               282            3
..   ...   ...    ...               ...          ...
448  DET     8    227               220            7
449  DET     8    227               220            7
450  DET     8    227               220            7
451  DET     8    227               220            7
452  DET     8    227               220            7

[66 rows x 5 columns]
Mismatches found for o_to:
     tmID  year  o_to  sum_turnoversPlayer  diff_turnovers
0     ATL     9   593                  499              94
1     ATL     9   593                  499              94
2     ATL     9   593                  499              94
3     ATL     9   593                  499              94
4     ATL     9   593                  499              94
...   ...   ...   ...                  ...             ...
1046  WAS    10   607                  579              28
1047  WAS    10   607                  579              28
1048  WAS    10   607                  579              28
1049  WAS    10   607                  579              28
1050  WAS    10   607                  579              28

[1051 rows x 5 columns]
Mismatches found for o_blk:
    tmID  year  o_blk  sum_blocksPlayer  diff_blocks
0    ATL     9    142               115           27
1    ATL     9    142               115           27
2    ATL     9    142               115           27
3    ATL     9    142               115           27
4    ATL     9    142               115           27
..   ...   ...    ...               ...          ...
448  DET     8    117                92           25
449  DET     8    117                92           25
450  DET     8    117                92           25
451  DET     8    117                92           25
452  DET     8    117                92           25

[66 rows x 5 columns]
Mismatches found for o_fgm:
    tmID  year  o_fgm  sum_fgMadePlayer  diff_fgMade
79   HOU     7    928               894           34
80   HOU     7    928               894           34
81   HOU     7    928               894           34
82   HOU     7    928               894           34
83   HOU     7    928               894           34
..   ...   ...    ...               ...          ...
915  SAS    10    936               857           79
916  SAS    10    936               857           79
917  SAS    10    936               857           79
918  SAS    10    936               857           79
919  SAS    10    936               857           79

[276 rows x 5 columns]
Mismatches found for o_ftm:
    tmID  year  o_ftm  sum_ftMadePlayer  diff_ftMade
79   HOU     7    482               471           11
80   HOU     7    482               471           11
81   HOU     7    482               471           11
82   HOU     7    482               471           11
83   HOU     7    482               471           11
..   ...   ...    ...               ...          ...
915  SAS    10    487               456           31
916  SAS    10    487               456           31
917  SAS    10    487               456           31
918  SAS    10    487               456           31
919  SAS    10    487               456           31

[276 rows x 5 columns]
Mismatches found for o_3pm:
    tmID  year  o_3pm  sum_threeMadePlayer  diff_threeMade
314  MIN     2    176                  168               8
315  MIN     2    176                  168               8
316  MIN     2    176                  168               8
317  MIN     2    176                  168               8
318  MIN     2    176                  168               8
..   ...   ...    ...                  ...             ...
915  SAS    10    256                  229              27
916  SAS    10    256                  229              27
917  SAS    10    256                  229              27
918  SAS    10    256                  229              27
919  SAS    10    256                  229              27

[184 rows x 5 columns]
Mismatches found for o_fga:
    tmID  year  o_fga  sum_fgAttemptedPlayer  diff_fgAttempted
79   HOU     7   2098                   2034                64
80   HOU     7   2098                   2034                64
81   HOU     7   2098                   2034                64
82   HOU     7   2098                   2034                64
83   HOU     7   2098                   2034                64
..   ...   ...    ...                    ...               ...
915  SAS    10   2190                   1997               193
916  SAS    10   2190                   1997               193
917  SAS    10   2190                   1997               193
918  SAS    10   2190                   1997               193
919  SAS    10   2190                   1997               193

[276 rows x 5 columns]
Mismatches found for o_fta:
    tmID  year  o_fta  sum_ftAttemptedPlayer  diff_ftAttempted
79   HOU     7    678                    644                34
80   HOU     7    678                    644                34
81   HOU     7    678                    644                34
82   HOU     7    678                    644                34
83   HOU     7    678                    644                34
..   ...   ...    ...                    ...               ...
915  SAS    10    626                    577                49
916  SAS    10    626                    577                49
917  SAS    10    626                    577                49
918  SAS    10    626                    577                49
919  SAS    10    626                    577                49

[276 rows x 5 columns]
Mismatches found for o_3pa:
    tmID  year  o_3pa  sum_threeAttemptedPlayer  diff_threeAttempted
92   HOU     8    365                       364                    1
93   HOU     8    365                       364                    1
94   HOU     8    365                       364                    1
95   HOU     8    365                       364                    1
96   HOU     8    365                       364                    1
..   ...   ...    ...                       ...                  ...
915  SAS    10    739                       672                   67
916  SAS    10    739                       672                   67
917  SAS    10    739                       672                   67
918  SAS    10    739                       672                   67
919  SAS    10    739                       672                   67

[239 rows x 5 columns]
Mismatches found for o_oreb:
    tmID  year  o_oreb  sum_oReboundsPlayer  diff_oRebounds
79   HOU     7     303                  274              29
80   HOU     7     303                  274              29
81   HOU     7     303                  274              29
82   HOU     7     303                  274              29
83   HOU     7     303                  274              29
..   ...   ...     ...                  ...             ...
915  SAS    10     281                  252              29
916  SAS    10     281                  252              29
917  SAS    10     281                  252              29
918  SAS    10     281                  252              29
919  SAS    10     281                  252              29

[276 rows x 5 columns]
Mismatches found for o_dreb:
    tmID  year  o_dreb  sum_dReboundsPlayer  diff_dRebounds
79   HOU     7     822                  787              35
80   HOU     7     822                  787              35
81   HOU     7     822                  787              35
82   HOU     7     822                  787              35
83   HOU     7     822                  787              35
..   ...   ...     ...                  ...             ...
915  SAS    10     768                  690              78
916  SAS    10     768                  690              78
917  SAS    10     768                  690              78
918  SAS    10     768                  690              78
919  SAS    10     768                  690              78

[276 rows x 5 columns]
Mismatches found for o_reb:
    tmID  year  o_reb  sum_reboundsPlayer  diff_rebounds
79   HOU     7   1125                1061             64
80   HOU     7   1125                1061             64
81   HOU     7   1125                1061             64
82   HOU     7   1125                1061             64
83   HOU     7   1125                1061             64
..   ...   ...    ...                 ...            ...
915  SAS    10   1049                 942            107
916  SAS    10   1049                 942            107
917  SAS    10   1049                 942            107
918  SAS    10   1049                 942            107
919  SAS    10   1049                 942            107

[276 rows x 5 columns]
Mismatches found for o_asts:
    tmID  year  o_asts  sum_assistsPlayer  diff_assists
79   HOU     7     532                516            16
80   HOU     7     532                516            16
81   HOU     7     532                516            16
82   HOU     7     532                516            16
83   HOU     7     532                516            16
..   ...   ...     ...                ...           ...
915  SAS    10     598                560            38
916  SAS    10     598                560            38
917  SAS    10     598                560            38
918  SAS    10     598                560            38
919  SAS    10     598                560            38

[276 rows x 5 columns]
Mismatches found for o_stl:
    tmID  year  o_stl  sum_stealsPlayer  diff_steals
79   HOU     7    252               241           11
80   HOU     7    252               241           11
81   HOU     7    252               241           11
82   HOU     7    252               241           11
83   HOU     7    252               241           11
..   ...   ...    ...               ...          ...
915  SAS    10    257               230           27
916  SAS    10    257               230           27
917  SAS    10    257               230           27
918  SAS    10    257               230           27
919  SAS    10    257               230           27


Two teams (one from the East and one from the West) changed their names starting from year 4. We decided to update the tmID and the team name to the most recent ones for years 1, 2, and 3.

In [3]:
teams_EA = pd.read_csv('../newData/teams_EA_cleaned.csv')
teams_EA.loc[teams_EA['tmID'] == 'ORL', 'tmID'] = 'CON'
teams_EA.loc[teams_EA['tmID'] == 'CON', 'name'] = 'Connecticut Sun'
teams_EA.to_csv('../newData/teams_EA_cleaned.csv', index=False)

teams_WE = pd.read_csv('../newData/teams_WE_cleaned.csv')
teams_WE.loc[teams_WE['tmID'] == 'UTA', 'tmID'] = 'SAS'
teams_WE.loc[teams_WE['tmID'] == 'SAS', 'name'] = 'San Antonio Silver Stars'
teams_WE.to_csv('../newData/teams_WE_cleaned.csv', index=False)

### Merge of the two tables

In [4]:
df_ea = pd.read_csv('../newData/teams_EA_cleaned.csv')
df_we = pd.read_csv('../newData/teams_WE_cleaned.csv')

combined_df = pd.concat([df_ea, df_we], ignore_index=True)
combined_df.to_csv('../newData/combined_teams.csv', index=False)

# Transformation

In [5]:
df = pd.read_csv('../newData/combined_teams.csv')
target = "playoff"

In [6]:
#Calclate the win rate of each team
df['winrate'] =  df['won_x'] / df['GP_x'] * 100

### Eliminating Useless Attributes

In [7]:
df.drop(
    [
        "franchID",
        "won_x",
        "lost_x",
        "homeW",
        "homeL",
        "awayW",
        "awayL",
        "confW",
        "confL",
        "min",
        "attend",
        "arena",
        "GP_y",
        "GP_x",
        "stint_x",
        "points",
        "PF",
        "GS",
        "minutes",
        "dq",
        "PostGP",
        "PostGS",
        "GS",
        "PostMinutes",
        "PostPoints",
        "PostRebounds",
        "PostoRebounds",
        "PostdRebounds",
        "PostAssists",
        "PostSteals",
        "PostBlocks",
        "PostTurnovers",
        "PostPF",
        "PostfgAttempted",
        "PostfgMade",
        "PostftAttempted",
        "PostftMade",
        "PostthreeAttempted",
        "PostthreeMade",
        "PostDQ",
        "post_wins",
        "post_losses",
        "stint_y",
        "won_y",
        "lost_y",
    ],
    axis=1, inplace=True,
)

## Preparing Data

 Counting the games each team played in the postseason

In [9]:
mapping = {"L": 1, "W": 1, "N": 0}
for col in ["semis", "finals", "firstRound"]:
    df[col] = df[col].map(mapping)
df["roundsPlayed"] = df[["semis", "finals", "firstRound"]].sum(axis=1)
df.drop(["semis", "finals", "firstRound"], axis=1, inplace=True)

Calculating the mean of the height, weight and the age of the teams and the sum of the awards collected by players and coaches for each team for every year

In [10]:
new_df = pd.DataFrame()
for year in df["year"].unique():
    for team in df["tmID"].unique():
        small_df = df[(df["tmID"] == team) & (df["year"] == year)]
        if small_df.empty:
            continue

        d = pd.DataFrame([small_df.iloc[0]])
        d.fillna(0, inplace=True)
        d["award_player"] = small_df["award_x"].count()
        d["award_coach"] = d["award_y"].apply(lambda i: 1 if i != 0 else 0)
        d["height"] = small_df["height"].mean()
        d["weight"] = small_df["weight"].mean()
        d["playersAge"] = (2000 + df["year"]) - utils.get_overall_age(
            small_df["birthDate"]
        )
        d.drop("playerID", axis=1, inplace=True)
        d.drop("birthDate", axis=1, inplace=True)
        d.drop("award_x", axis=1, inplace=True)
        d.drop("award_y", axis=1, inplace=True)

        new_df = pd.concat([new_df, d])

df = new_df.sort_values(by=["year", "tmID"])

Each stats have a weight that can be modified, and we calculate a new value called ATR in which we collect the weighted average of some of each team's statistics

In [11]:
weights = {"pts": 1, "reb": 0.8, "asts": 0.5, "fgm": 0.7}
df["ATR"] = (
    weights["pts"] * (df["o_pts"] - df["d_pts"])
    + weights["reb"] * (df["o_reb"] - df["d_reb"])
    + weights["asts"] * (df["o_asts"] - df["d_asts"])
    + weights["fgm"] * (df["o_fgm"] - df["d_fgm"])
)
df.drop(["o_pts", "o_reb", "o_asts", "o_fgm", "d_pts", "d_reb", "d_asts", "d_fgm"], axis=1, inplace=True)

#TODO
#Vedi se le altre statistiche possono servire a qualcosa oppure se si possono rimuovere

df.to_csv("../newData/mid_file.csv", index=False)

Calculated ATR.

# Future Encoding